*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 500px;
    margin: 50px;
}

.area{
    
    width: 100px;
    height: 100px;
}

.item-1{
    flex:1;
    background-color: red;
}
.item-2{
    flex:2;
    background-color: blue;
}

.item-3{
    flex:1;
    background-color: green;
}
